@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@&display=swap");

:root {
    --main-gradient: hsl(317, 76%, 57%), hsl(293, 87%, 66%), hsl(284, 68%, 62%);
    --hover-gradient:
        hsl(317, 76%, 67%), hsl(293, 87%, 76%), hsl(284, 68%, 72%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(var(--main-gradient));
}

.container {
    background-color: hsl(0, 0%, 100%);
    padding: 3rem 2rem;
    border-radius: 8px;
    box-shadow: 4px 4px 24px hsla(0, 0%, 0%, 0.4);
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}

.mainHeading {
    width: 100%;
    text-align: center;
    font-size: 16px;
}

.formContainer {
    width: 100%;
}

.registerForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
}

.inputField {
    padding: 8px 0;
    border: none;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to right, var(--main-gradient)) 1;
    font-size: 14px;
    transition: transform 0.35s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.inputField:hover {
    transform: scale(1.01);
}
.inputField:focus {
    outline: none;
    transform: scale(1.03);
}

#registerBtn {
    border: none;
    width: 100%;
    padding: 12px 0;
    font-size: 16px;
    color: hsl(0, 0%, 95%);
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 0 4px hsla(0, 0%, 0%, 0.2);
    transition: transform 0.35s cubic-bezier(0.34, 1.56, 0.64, 1);
    background-image: linear-gradient(to right, var(--main-gradient));
}
#registerBtn:hover {
    transform: scale(1.01);
    background-image: linear-gradient(to right, var(--hover-gradient));
}
#registerBtn:active {
    transform: scale(1.03);
}

@media screen and (max-width: 400px) {
    .container {
        height: 100%;
        padding: 2rem 1rem;
        border-radius: 0;
    }
    .registerForm {
        justify-content: center;
    }
    #registerBtn {
        padding: 8px 0;
    }
}
